.heure{
margin:auto;
margin-bottom:1em;
font-size: 25px;
font-weight: bold;
text-align: center;
color: white;
background-color: #282c34;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    font-family: Arial;
    

    text-align: center;
    box-shadow: 10px 10px 8px 10px #30343d;
    transition:all 0.3s ease;

}

.heuree{
    border-width:1px;
 border-style:outset;
 border-color: white;
 padding: 4px;
}

