.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}
.Profil {
    margin-left:3em;
  
}

.Profil > img, h3{

    display: inline-block;
}

.Profil  h3{
    margin-top: 1rem;
    margin-left: 1em;
    float: left;
    font:20%;
}

.Profil  img{
    margin-left: 1em;
}

.Profil  Nav{
    
    margin-left: 2em;
    margin-right: auto;
}