.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:60px;
    height:60px;
    float: right;
}
.Profil {
    margin-right:3em;
  
}

.Profil > img, h4, form{

    display: inline-block;
}

.Profil  h4{
    margin-top: 1rem;
   
    float: right;
    font:20%;
}

.Profil  img{
    margin-right: 1em;
    float: right;
}

.Profil  form{
    margin-right: 1em;
    float: right;
}

.Profil  Nav{
    
    margin-left: 2em;
    margin-right: auto;
}