.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}
.Profil {
    margin-left:3em;
  
}

.Profil > img, h2{

    display: inline-block;
}

.Profil > h2{
    margin-left: 2em;
    padding-left: 2em;
}

.Profil > img{
    margin-left: 1em;
}
