.galerie{
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    margin: auto;
    text-align: center;
    box-shadow: 10px 10px 8px 10px #30343d;
    transition:all 0.3s ease;
  
   
    }
    
