.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Menu{
  height: 100%;
  background-color: #282c34;
  color: white;

  font-family: Arial;

}
.Container{
  background-color: #a3b8e0;
  padding: 3em;
  max-width: 100%;
}

.camembert {
  border: black solid 1px !important;

}

.Formulaire{
    
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  margin: 3em;
  text-align: center;
  box-shadow: 10px 10px 8px 10px #30343d;
  transition:all 0.3s ease;
  
  }

.Formulaire:hover{

  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
} 
  

.Formulaire > h3{
  text-align: center;
  margin-bottom: 1rem;
}


