.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Menu{
  
  height:100%;
  top: auto;
  position: fixed; 
  background-color: #282c34;
  color: white;
  font-family: Arial;
 
  

}
.Container{
  background-color: lavender;
  padding: 3rem;
  max-width: 100%;
  margin: auto;
}

.camembert {
  border: black solid 1px !important;

}

.Formulaire{
    
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  margin: 3em;
  text-align: center;
  box-shadow: 10px 10px 8px 10px #30343d;
  transition:all 0.3s ease;
  
  }

.Formulaire:hover{

  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
} 
  

.Formulaire > h3{
  text-align: center;
  margin-bottom: 1rem;
}

.Hautdepage{
  background-color: #282c34;
  color: white;
  font-family: Arial;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  
  box-shadow:  #444a58;
}

.Hautdepage > img{
  margin-left: 1em;
  margin-right: 1em;
}
.mr-auto {
  float: left;
  padding-left: 2em;
}

#basic-nav-dropdown{
  float: left;
  padding-left: 2em;
}