.suspect {
    text-align: center;
    color: 00C49F;
   
}

.suspect1{
    padding-right:0;
    color: #0088FE;
}

.suspect2{
    text-align: center;
    color: #00C49F;
}

.suspect3{
    text-align: center;
    color: #FFBB28;
}

.suspect4{
    text-align: center;
    color: #FF8042;
}