.suspect {
    text-align: center;
    color: 00C49F;
   
}

.suspect1{
    padding-right:0;
    color: #0088FE;
}

.suspect2{
    text-align: center;
    color: #00C49F;
}

.suspect3{
    text-align: center;
    color: #FFBB28;
}

.suspect4{
    text-align: center;
    color: #FF8042;
}

.Camembert{
    background-color: #282c34;
    color: white;
      padding-top: 1em;
      padding-bottom: 1em;
    font-family: Arial;
      margin: auto;
   margin-top: 30px;
   margin-bottom: 40px;
    text-align: center;
    box-shadow: 10px 10px 8px 10px #30343d;
    transition:all 0.3s ease;
}

.Camembert:hover{

    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  } 